.jumbotron {
 margin-top: 20px;
}
  
#link {
  color: black;
  margin: 10px;
}

a.one:link {
  color: black;
}

a.one:visited {
  color: black;
   text-decoration: underline;
  }

a:link {
  color: black;
}

a.two:link {
  color: white;
   text-decoration: underline;
}
a.two:visited {
  color: white;
   text-decoration: underline;
  }

.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

 ion-icon {
  font-size: 20px;
   color: black;
}


/* Gallery */

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
	overflow-x: hidden;
}

img {
    border-radius: 5px;
  }

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

* {
 box-sizing: border-box;
}
h {
 font-size: 1em;
 font-weight: bold;
}

body {
 padding: 0;
 margin: 0;
 font-family: sans-serif;
}
.header {
 position: sticky;
 position: -webkit-sticky;
  width: 100%;
 z-index: 800;
}
.top-alert {
 background-color: rgb(250,242,244);
 padding: 8px;
 text-align: center;
}
.top-alert-text {
 font-size: 0.6em;
 text-align: center;
 justify-content: center;
 font-weight: 550;
}
a {
 color: inherit;
}
a:hover { 
color: blue;
}
.menu {
 display: flex;
 position: relative; 
 -webkit-box-align: center;
 align-items: center;
 height: 48px;
 z-index: 800;
 background: rgb(255, 255, 255);
}
.menu>div {
 max-width: 1270px;
 height: inherit;
 min-width: 40px;
 margin: 1%;
 justify-content: center;
 padding: 0px 4px;
 font-size: 0.8em;
}
.menu>div:nth-child(3) {
 margin: 0 auto;
 max-width: 130px;
 min-width: 90px;
}
.option {
 display: flex;
 position: relative; 
 -webkit-box-align: center;
 align-items: center;
 justify-content: center;
 height: 39px;
 background-color: white;
 border-bottom: 1px solid grey;
}
.option>div {
  max-width: 150px;
 height: inherit;
 min-width: 40px;
 margin: 1%;
 justify-content: center;
 padding: 10px;
 font-size: 0.7em;
 border-radius: 3px;
 transition: all .3s ease;
}
.option>div:hover {
 background-color: #DDD; 
 cursor: pointer;
 border: 1px solid grey;
}
@media (max-width: 768px) {
 .option {
 overflow-x: visible;
 display: block;
 text-align: center;
 justify-contet: center;
 margin: 0 auto;
 height: auto;
}
.option>div {
 text-align: center;
 justify-contet: center;
 margin: 0 auto;
}
}
 
#icon {
 height: inherit;
 width: 20px;
 justify-content: center;
 text-align: center;
 margin-bottom: 2%;
}
#logo {
 width: 90%;
 height: 28px;
 margin-top: 7%;
}
.main {
 max-width: 75%;
 position: relative;
 display: block;
 margin: 0 auto;
 height: 100vh;
 padding: 10px;
}
.left-icon {
 display: inline-block; 
 float: left;
 height: auto;
 width: 7%;
 padding: 1em;
 margin-right: 10px;
}
.left-icon>div {
 margin-bottom: 15px; 
 border-radius: 50%;
} 
#left-circle {
 height: 40px;
 width: 40px;
 border-radius: 50%;
}
#left-circle:hover {
 border: 2px solid blue;
}
 body {
        overflow-x: hidden;
    }
@media (max-width: 768px) {
 .main {
 max-width: 100%;
 margin:0;
}
 .left-icon { 
 display: flex;
 justify-content: flex-start;
 width: 100%;
 height: 15%;
 margin-bottom:0;
 overflow-x: scroll;
 overflow-y: hidden;
 -webkit-overflow-scrolling: touch;
}
.left-icon>div {
 margin-bottom:0;
}
#left-circle {
 height: 60px;
 width: 60px;
 justify-content: center;
 text-align: center;
 margin-right: 20px;
 bottom: 0;
}
}
.column {
 float: left;
 width: 43%;
 height: 90vh;
 justify-content: center;
 margin-right: 13px;
 margin-top:10px;
}
.row:after {
 content: "";
 clear:both;
 display: table;
}

@media screen and (max-width: 720px) {
 .column {
 width: 100%;
 height: 90vh;
 margin-bottom: 10px;
 right:0;
 left:0;
 top:0;
}
  p2 {
 font-size: 1em;
}
 p {
 font-size: 0.8em;
}
 li {
 font-size: 1em;
}
 .icon-box {
 margin-top: 100px;
 margin-bottom: 40px;
} 
.price-button {
 margin-top: 40px;
}
}
.row:after {
 content: "";
 display: table;
}
#img-holder {
 background-image: url('https://images.unsplash.com/photo-1586156719269-d2f9faf80446?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 height: 90vh;
} 
.top-rate-button {
 margin-left: 10px;
 background-color:rgb(245,222,210);
 height: 60px;
 width: 100px;
 padding: 0.5em;
 border: none;
 border-radius: 10px; 
 font-weight: 600;
}
.icon-box {
 display: flex;
 flex-direction: row;
 height: 6vh;
 width: 100%; 
margin-top: 10px;
}
.icon-box>div {
 width: 33.33%;
 height: inherit;
}
#flex-icon {
 width: 100%;
 height:100%;
}
.column {
    
  padding-right: 10px;
  padding-left: 10px;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#TextLinks {
padding-left: 20px;
  }

@media (max-width: 1024px) {
	
	}
  
@media (max-width: 768px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
  
  #hide2 {
     display: none;
    }
  
  .column {
     text-align: center; 
  padding-right: 10px;
  padding-left: 10px;
}
  
  @media (max-width: 425px) {
  .hide {
 display: none;
    }
    
    
    @media (max-width: 320px) {
  .hide {
 display: none;
    }
    
   .column {
 margin-bottom: 15px !important;
      margin-left: 10px !important;
     margin-right: 10px !important;
}
